[submodule "vendor/libtap"]
	path = vendor/libtap
	url = https://github.com/zorgnax/libtap.git
[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/tokenrove/glew.git
	branch = headless-for-testing
